 /* Global styles */
 body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Container styles */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Registration form styles */
.registration-form {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 400px;
    text-align: center;
}

.registration-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.registration-form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.registration-form input[type="text"],
.registration-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.fingerprint-container {
    text-align: left;
    margin-top: 20px;
}

.fingerprint-preview {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

#capture-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 15px;
}

/* Centered submit button */
button[type="submit"] {
    display: block;
    margin: 0 auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}